/* removes "change" button */
a[ng-if="!isLinkedBookings()"][ng-click*="showBookingDetailsForm"].ng-binding.ng-scope {
 color: #ebf3f4 !important;
 display: none !important;
 visibility: hidden !important;
}


.header-row,
.header-row-partner {
    background: url("https://images.squarespace-cdn.com/content/595350c4bebafb54f3d494a2/eaad3147-a746-4954-a694-91c3e12c9301/Brel+Logo+-+White.png?content-type=image%2Fpng") center center no-repeat;
    height: 20vh !important;
    background-size:contain ; /* Try changing this to cover */
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    /*  BACKUP 
        url("https://images.squarespace-cdn.com/content/v1/595350c4bebafb54f3d494a2/1498640078994-BQZ4MDCLAXCCN61IHT9K/Brel.png?format=350w") center center no-repeat;
    height: 200px !important;*/
}

.header-row {
    background-color: transparent!important;
}



body {

    /* IMAGE BACKGROUND 
    background:
    linear-gradient(360deg, rgba(248,83,114,0.4) 0%, rgba(93,164,174,0.4) 100%), url("https://images.squarespace-cdn.com/content/v1/595350c4bebafb54f3d494a2/1506088083004-9D0BS4VHZHUWJFO7JX9T/Garden+3.jpg") center center no-repeat !important;
    */

    background: #72a8af;
}


.footer, .secondary{
    visibility: hidden;
}

.top-border {
    margin-bottom: 200px !important;
    background-color: #72a8af !important;
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: none !important;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

.stage {
    background-color: rgba(255,255,255,0.85);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.required-label {
    color: #72a8af;
}


.logo img,
h2 {
    display: none;
}

.intro-content {
    padding-top: 20px;
}

.alert, .alert-warning p {
    color:#72a8af !important;
    font-weight: 500;
}

p,
.center-block {
    color: #72a8af !important;
    font-weight:700px;
}

.control-label,
a,
body {
    color: #72a8af !important;
}

.alert-warning {
    /* background-color: #fdd09e !important; */
    /* border-color: #fdd09e !important; */

    background-color: transparent !important;
    border-color: transparent !important;
    color: #72a8af !important;
}


.btn-lg {

    color: #fff;
    background-color: #72a8af !important;
    border-color: #72a8af !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle,
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #C44159 !important;
    border-color: #C44159 !important;



}

@media (min-width: 1200px) {
    .col-lg-6 {
        width: 75%!important;
      }
.col-lg-offset-3 {
  margin-left: 12.5%!important;
}}

@media only screen and (max-width: 500px) {

    .header-row,
    .header-row-partner {
        background-size: contain;
    }
}
