.header-row,
.header-row-partner {
    background:

        url("https://itison-venues.github.io/maggies-booking/images/logo.png") center center no-repeat;
    height: 200px !important;
}

.header-row {
    background-color: transparent !important;
}



body {
    background: linear-gradient(180deg, rgba(235, 0, 0, .5) 0%, rgba(235, 0, 0, .15) 100%), url("https://itison-venues.github.io/maggies-booking/images/bg-1.jpeg") center center no-repeat !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;

}


.footer,
.secondary {
    visibility: hidden;
}

.top-border {
    margin-bottom: 200px !important;
    background-color: #eb0000 !important;
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: none !important;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

.stage {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
}

.required-label {
    color: #eb0000 !important;
}


.logo img,
h2 {
    display: none;
}

.intro-content {
    padding-top: 20px;
}

.alert,
.alert-warning p {
    color: #fff !important;
    font-weight: 500;
}

p,
.center-block {
    color: #fff !important;
    font-weight: 700px;
}

.control-label,
a,
body {
    color: #eb0000 !important;
}

a {
    font-weight: 700;
}

.alert-warning {
    /* background-color: #fdd09e !important; */
    /* border-color: #fdd09e !important; */

    background-color: transparent !important;
    border-color: transparent !important;
    color: #eb0000 !important;
}


.btn-lg {

    color: #fff;
    background-color: #eb0000 !important;
    border-color: #eb0000 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6B0000 !important;
    border-color: #6B0000 !important;



}

@media (min-width: 1200px) {
    .col-lg-6 {
        width: 75% !important;
    }

    .col-lg-offset-3 {
        margin-left: 12.5% !important;
    }
}

@media only screen and (max-width: 1060px) {

    .header-row,
    .header-row-partner {
        background-size: contain;
    }
}
