:root {
    --red:                  #DB4439;
    --cream:                #FAF4DC;
    --white:                #FFFFFF;
    --black:                #1a1a1a;
    --transparent:          rgba(250, 244, 220, 0.4);
}

.header-row,
.header-row-partner {
    background: url("https://images.squarespace-cdn.com/content/58f7443403596edd09d4e1e7/ae103ab2-dd49-4c82-b07a-84568788eb36/Maggies+Text+Logo+%28Horns%29%404x.png?content-type=image%2Fpng") center center no-repeat;
    height: 200px !important;
    height: 20vh !important;
    background-size:contain ; /* Try changing this to cover */
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.header-row {
    background-color: transparent!important;
}


body {
    background: #FAF4DC;

    /* BACKUP
    background:
 
        linear-gradient(180deg, rgba(5,51,39,.5) 0%, rgba(5,51,39,.5) 100%), url("https://itison-venues.github.io/sloans-booking/images/bar-2.jpg") center center no-repeat !important;
*/
}

.footer, .secondary{
    visibility: hidden;
}

.top-border {
    margin-bottom: 200px !important;
    background-color: #FAF4DC !important;
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: none !important;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

.stage {
    background-color: var(--red);
    padding: 20px;
    height: auto;
    overflow: overlay;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid var(--red);
}

.required-label {
    color: #FAF4DC !important;
}
/*
a.ng-binding.ng-scope[ng-click*="screenOptions.showBookingDetailsForm"] {
    display: none;
  }*/
  
  .ng-binding p {
    color: var(--cream) !important;
}




  #type {
    pointer-events: none;
}


/* Hide the default arrow */
select#type {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    padding-top:0;
  }
  
  /* Add a custom arrow if needed */
  select#type::-ms-expand {
    display: none;
  }



.logo img,
h2 {
    display: none;
}

.intro-content {
    padding-top: 20px;
}

.alert, .alert-warning p {
    /*color:var(--red) !important;
    font-weight: 500;*/

    color: var(--cream);
    font-weight: 500;
    border: 1px solid var(--cream);
    padding: 10px;
    background: var(--red) !important;

}

.alert-danger {
    background-color: var(--cream);
}



p,
.center-block {
    color: #FAF4DC!important;
    font-weight:700px;
}

.control-label,
a,
body {
    color: #FAF4DC !important;
}
a {
    font-weight: 700;
}

.alert-warning {
    /* background-color: #fdd09e !important; */
    /* border-color: #fdd09e !important; */

    background-color: transparent !important;
    border-color: transparent !important;
    color: #FAF4DC !important;
}
.btn-lg {
    color: var(--red);
    font-weight: 600;
    background-color: #FAF4DC !important;
    border-color: #FAF4DC !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle,
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
    color: var(--black);
    background-color: #FAF4DC !important;
    border-color: #FAF4DC !important;
}

@media (min-width: 1200px) {
        .col-lg-6 {
            width: 75%!important;
        }
    .col-lg-offset-3 {
    margin-left: 12.5%!important;
    }
}
